
<div class="footer">
        <h2>HeathCare.</h2>
        <div class="footerlinks">
            <a href="http://www.who.int/emergencies/diseases/novel-coronavirus-2019" class="mainlink">Corona Updates</a>
            <a href="">About</a>
            <a href="">Help</a>
        </div>
        <h3 style="color: rgb(85, 85, 85); padding: 1rem;" class="dev">Website devloped and maintain by Jaydeep Shelake and Team</h3>
    </div>
        
       <div class="copy" style="padding: 0.8rem;">
      <h5>&copy;Jaydeep Shelake 2020 all rights reserved.</h5>
    </div>
