
    <header>
    <div class="nav">
    <div class="logo">
        <h4>HealthCare</h4>
    </div>
    <div class="burger">
        <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="links">
        <a  href="/" <% if(page_name==='home'){ %> class='link mainlink' <%} %>>Home</a>
        <a href="/about" <% if(page_name==='about'){ %> class='link mainlink' <%} %> >About us</a>
        <a href="/tracker" <% if(page_name==='tracker'){ %> class='link mainlink' <%} %> >Tracker</a>
        <a href="/comments" <% if(page_name==='comments'){ %> class='link mainlink' <%} %>>Comments</a>
    </div>
</div>
</header>
