<div class="wrapper">
    <h1>Developers</h1>
    <div class="cards">
        <div class="card">
            <div class="img">
               <img src="img/on-jcb2.jpg" alt="">
            </div>
            <div class="text">
                <h2>Jaydeep Shelake</h2>
                <p>FullStack Developer</p>
                <div class="social">
                    <a href="https://instagram.com/jaydeep_shelake101"><i class="fab fa-instagram"></i></a>
                    <a href="https://jaydeep-shelake.github.io/" target="_blank"><i class="far fa-globe"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
             <img src="img/zaheer.jpg" alt="">
        </div>
            <div class="text">
                <h2>Zaheer Patvekar</h2>
                <p>UI/UX Developer</p>
                <div class="social">
                  <a href="https://instagram.com/zaheer_patvekar_"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/zaheer-patvekar-8837531a3"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
              <img src="img/shoovo.jpg" alt="">
            </div>
            <div class="text">
                <h2>Abdur Zilani</h2>
                <p>Devops</p>
                <div class="social">
                   <a href="https://instagram.com/shu_je_l_lo"><i class="fab fa-instagram"></i></a>
                   <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <p class="about-text">We are coding enthusiastic of S.Y.Btech Mechanical Engineering(Automobile) from</p>
    <p class="about-text"><a href="https://ritindia.edu">Rajarambapu Institute of Technology</a>,Rajaramnagar,Sakhrale.</p>

    <p class="about-text" style="padding: 15px 0; ">Project developed under guidence of <a href="#" style="border-bottom: 2px solid rgb(174, 173, 173);">Mrs.S.C.Bedage</a></p>
</div>
    
