
        
        <!--landing page-->
        <div class="landing">
            <div class="landingText">
                <h1> Stay Home <span style="color: rgb(248, 120, 73);">Stay Safe</span></h1>
                <h3>Lets put all together and win war againts this pandamic.<br>Help!! stop the spread </h3>
                <div class="btn">
                    <a href="http://www.who.int/emergencies/diseases/novel-coronavirus-2019">Learn More</a>
                </div>
            </div>
            <div class="landingimg">
                <img src="img/homework.jpg" alt="">
            </div>
        </div>
        <!--about section-->
        
        <div class="about">
            <div class="aboutText">
                <h1>Why its important that<br> <span style="color: rgb(130, 214, 130); font-size: 3vw;">you stay at home</span></h1>
                <img src="img/docter.png" alt="">
            </div>
            <div class="aboutList">
                <ol>
                    <li><span>01</span><p>Covid-19 which is fastest growing global pandamic.the number of cases are increasing day by day </p></li>
                    <li><span>02</span>
                      <p>Covid-19 spreads much easier then other flue viruses and regular illness,thats what it makes it very dengerous</p>
                    </li>
                    <li><span>03</span>
                       <p>Thes best course of action is to stay at home and help government as well as other people in society and hospitals 
                           which are getting overwhelmed with patients
                       </p>
                    </li>
                    <li><span>04</span>
                        <p>Till today there no any vaccine avaible it whould be avialble till septemer's end or even more</p>
                    </li>
                </ol>
            </div>
        </div>
        <!--info section-->
        <div class="infoSection">
            <div class="infoHeader">
                <h1>Things you whould do during <br> <span style="color:tomato;">Lockdown</span></h1>
            </div>
        
        <div class="infocards">
            <div class="card one">
                <img src="img/stream.png" alt="steamimg" class="cardimg">
                <div class="cardBgone"></div>
                <div class="cardContent">
                <h2>Binge Watch</h2>
                <p>Binge Watch all your favorite T.V shows or Movies once again during lockdown<br> e.g Ramayan
                </p>
                <a href="#">
                    <div class="cardBtn">
                        <!-- <img src="img/next.png" alt=""> -->
                    </div>
                </a>
            </div>
            </div>
            <div class="card two">
                <img src="img/skill.png" alt="steamimg" class="cardimg">
                <div class="cardBgone1"></div>
                <div class="cardContent">
                <h2>Lrean new skills</h2>
                <p>Write blogs,try new recipes do online courses during lockdown or learn <br> new langauge
                </p>
                <a href="#">
                    <div class="cardBtn">
                        <!-- <img src="img/next.png" alt=""> -->
                    </div>
                </a>
            </div>
            </div>
            <div class="card three">
                <img src="img/work.png" alt="steamimg" class="cardimg">
                <div class="cardBgone2"></div>
                <div class="cardContent">
                <h2>Video call</h2>
                <p>Have fun video calling with your friends and relatives or a group call<br>on skype
                </p>
                <a href="#">
                    <div class="cardBtn">
                        <!-- <img src="img/next.png" alt=""> -->
                    </div>
                </a>
            </div>
            </div>
        </div>
    </div>
    <!-- symtopms-section -->
      <div class="symptoms">
        <h1>Sympt<span style="color:tomato;">oms</span></h1>
          <div class="preCard">
            <div class="card">
                <div class="img">
                    <img src="img/fever.jpg" alt="">
                </div>
                <div class="text">
                 <h2>Fever</h2>
                 <p>Use mask while going to public places and crowded places it will protect you</p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="img/cough.jpg" alt="">
                </div>
                <div class="text">
                 <h2>Dry <span>cough</span></h2>
                 <p>Use mask while going to public places and crowded places it will protect you</p>
                </div>
            </div>

          </div>

          <div class="preCard none">
            <div class="card">
                <div class="img">
                    <img src="img/berath.jpg" alt="">
                </div>
                <div class="text">
                 <h2>Difficutly in<span> breathing</span></h2>
                 <p>Use mask while going to public places and crowded places it will protect you</p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="img/chest.jpg" alt="">
                </div>
                <div class="text">
                 <h2>Cheat <span>pain</span></h2>
                 <p>Use mask while going to public places and crowded places it will protect you</p>
                </div>
            </div>
          </div>
      <a  class="btn all">See All</a>
      </div>
    <!-- prevention section -->
    <div class="prevention">
      <h1>Prevention <span style="color:tomato;">Majors</span></h1>
       <div class="preCard">
           <div class="card">
               <div class="img">
                   <img src="img/mask.png" alt="">
               </div>
               <div class="text">
                <h2>Use <span>mask</span></h2>
                <p>Use mask while going to public places and crowded places it will protect you</p>
               </div>
           </div>
           <div class="card">
               <div class="img">
                   <img src="img/hand.jpg" alt="">
               </div>
               <div class="text">
                <h2>Wash your <span>hands</span></h2>
                <p>Wash your hands after you came from outside till 20 min and use sanitizers as well</p>
               </div>
           </div>
           <div class="card">
               <div class="img">
                   <img src="img/social.jpg" alt="">
               </div>
               <div class="text">
                <h2>Avoid physical <span>contact</span></h2>
                <p>For some time avoid physical contact with animals and people around you</p>
               </div>
           </div>
       </div>
       <div class="preCard none">
        <div class="card">
            <div class="img">
                <img src="img/cook.jpg" alt="">
            </div>
            <div class="text">
             <h2>Cook<span> thoroughly</span></h2>
             <p>Cook meat,fish and other non-veg food thoroughly</p>
            </div>
        </div>

        <div class="card">
            <div class="img">
                <img src="img/cover.jpg" alt="">
            </div>
            <div class="text">
             <h2>Cover<span> cough</span></h2>
             <p>While coughing and seenzing cover your mouth and nose </p>
            </div>
        </div>

       </div>
       <a  class="btn all">See All</a>
    </div>
    <div class="feedback">
        <h2>If this Website has <span style="color: rgb(248, 120, 73);">helped</span>  or <span style="color: rgb(130, 214, 130);">aware</span>  you at kind please fill the <span style="color: rgb(248, 120, 73);">form</span></h2>
        <button class="btn " id="feedback" >Fill from</button>
    </div>

    <!--Banner and footer-->
    <div class="banner">
        <div class="bnnerText">
            <h1>Download the Aaroygya setu app today <br> <span class="innerText" style="font-size:1.6vw; font-weight: normal;">Stay update and get all your medical need! </span></h1>
            <a href="https://apps.apple.com/in/app/aarogyasetu/id1505825357" target="_blank"><img src="img/iosapp.jpg" alt=""></a>
            <a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu" target="_blank" ><img src="img/androidapp1.png" alt="" id="img2"></a>
        
        </div>
        <div class="bannerimg">
            <img src="img/aarogya.png" alt="">
        </div>
    </div>
    
    <!-- form-section -->
    
    </div>
    <div class="modal">
        <form action="/" method="POST">
            <i class="fa fa-times" id="cross" ></i>
            <input type="text" id="name" placeholder="Enter Name" name="name">
            
            <input type="email" id="email" placeholder="Enter email" name="email">
            <textarea rows="10" placeholder="Please type your Feedback (optional)" name="comment"></textarea>
            <button type="submit" class="btn" id="subBtn">Submit</button>
        </form>
    </div>
    
    <div class="msg-area">
        <div class="msg">
          <strong>Successfully</strong> form submited
        </div>
    </div>   

    
